@use "src/styles/variables" as vars;

.step {}

.overview {
  margin-top: auto;
  margin-bottom: auto;
}

.reason {
  margin: vars.$offset-md 0 0 0;
  padding: vars.$offset-xs vars.$offset-sm;
  font-size: 0.875rem;
  background-color: salmon;
  border-radius: vars.$offset-xxs;
}

.actions {
  display: flex;
  margin-top: vars.$offset-md;
}

.removeBtn {
  display: block;
  min-width: 200px;
  min-height: vars.$height-button;
  padding: vars.$offset-xs vars.$offset-md;
  margin: 0 auto;
  color: whitesmoke;
  font-weight: 700;
  text-transform: uppercase;
  background-color: crimson;
  border-radius: vars.$offset-xs;
}
