@use "src/styles/variables" as vars;

.step {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.field {
  width: 17ch;
  min-height: vars.$height-field + 2 * vars.$offset-sm;
  font-size: 1.75rem;
}
