@use "sass:color";
@use "src/styles/variables" as vars;

.body {
  padding-bottom: vars.$offset-md;
}

.stepsDots {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  margin: vars.$offset-md 0 0;
  padding: 0;
  color: silver;
  list-style: none;
}

.stepsDot {
  padding: 0;
}

.stepsLine {
  display: block;
  flex-grow: 1;
  width: 1px;
  border-bottom: 2px solid currentColor;
}

.dot {
  display: block;
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  border: 2px solid currentColor;
  border-radius: 50%;
}

.dotFilled {
  background-color: currentColor;
}

.dotCurrent {}

.dotCurrent::after {
  display: block;
  width: 16px;
  height: 16px;
  margin: 2px;
  border-radius: 50%;
  background-color: currentColor;
  content: "";
}

.title {
  margin: vars.$offset-md 0 0;
  font-size: 1.5rem;
  text-align: center;
}

.step {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-top: vars.$offset-md;
}

.stepSum {}

.stepCategory {}

.stepCommodities {}

.stepDate {}

.stepUsers {}

.stepConfirm {}

.reason {
  margin: vars.$offset-md 0 0 0;
  padding: vars.$offset-xs vars.$offset-sm;
  font-size: 0.875rem;
  background-color: crimson;
  border-radius: vars.$offset-xxs;
}

.submit {
  margin-top: vars.$offset-md;
}
