@use "src/styles/variables" as vars;

.container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  max-width: 340px;
  height: 100vh;
  pointer-events: none;
}

.hidden {
  display: none;
}

.list {
  display: block;
  margin: 0;
  padding: vars.$offset-sm 0;
  overflow-x: hidden;
  overflow-y: auto;
  list-style: none;
  -webkit-overflow-scrolling: touch;
  pointer-events: auto;
}
.list::-webkit-scrollbar {
  width: 0;
  background: transparent;
}
.hidden .list {
  pointer-events: none;
}

.item {
  margin-bottom: vars.$offset-sm;
  padding: 0 vars.$offset-sm;
  pointer-events: auto;
}
.item:last-child {
  margin-bottom: 0;
}
.hidden .item {
  pointer-events: none;
}

@supports ((--a: 0)) {
  .container {
    min-height: calc(var(--vh, 1vh) * 100);
  }
}
