$back-color-default: darkslategray;

$text-color: whitesmoke;

$text-size: 16px;

$height-header: 54px;
$height-button: 40px;
$height-field: 40px;

$offset-xxs: 3px;
$offset-xs: 6px;
$offset-sm: 12px;
$offset-md: 24px;
$offset-lg: 48px;

$z-app: 1;
$z-splash: 2;

$z-layout: 1;
$z-menu: 2;
$z-overlays: 3;
$z-auth: 4;
$z-notifications: 5;

