@use "src/styles/variables" as vars;

.form {
  display: block;
}

.fieldWrp {}
.fieldWrp + .fieldWrp {
  margin-top: vars.$offset-sm;
}

.field {
  width: 100%;
}

.select {
  width: 100%;
}

.reason {
  margin: vars.$offset-md 0 0 0;
  padding: vars.$offset-xs vars.$offset-sm;
  font-size: 0.875rem;
  background-color: crimson;
  border-radius: vars.$offset-xxs;
}

.submit {
  margin-top: vars.$offset-md;
}
