@use "src/styles/variables" as vars;

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: vars.$offset-sm;
}

.title {
  margin: 0;
  font-size: 2rem;
  font-weight: 700;
}

.reason {
  margin: vars.$offset-md 0 0 0;
  padding: vars.$offset-xs vars.$offset-sm;
  font-size: 0.875rem;
  background-color: crimson;
  border-radius: vars.$offset-xxs;
}

.submit {
  margin-top: auto;
}
