@use "src/styles/variables" as vars;

.menu {}

.list {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.item {
  padding: vars.$offset-xs;
}

.profile {
  margin-left: auto;
}

.link {
  display: block;
  min-width: vars.$height-button;
  height: vars.$height-button;
  padding: 0 vars.$offset-sm;
  overflow: visible;
  text-decoration: none;
  border-radius: vars.$offset-xs;
  transition: background-color 0.15s;
}

.linkWrp {}

.linkLabel {
  font-weight: 500;
}

.active {
  background-color: dimgray;
}

.logo {
  width: 32px;
  height: 32px;
}

.avatar {
  flex-shrink: 0;
  margin-right: vars.$offset-xs;
}
