@use "sass:color";
@use "src/styles/variables" as vars;

.menu {}

.list {
  display: flex;
  align-items: stretch;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0 vars.$offset-sm;
  list-style: none;
}

.item {
  display: flex;
  padding: 0;
}

.profile {
  margin-left: auto;
}

.link {
  display: block;
  height: 100%;
  padding: 0 vars.$offset-sm;
  overflow: visible;
  text-decoration: none;
  border-top: vars.$offset-xxs solid transparent;
  transition: border-color 0.15s;
}

.active {
  background-image: linear-gradient(
      to bottom,
      color.adjust(whitesmoke, $alpha: -0.9),
      transparent 70%);
  border-color: whitesmoke;
}

.icon {
  width: 28px;
  height: 28px;
}
