@use "src/styles/variables" as vars;

.form {}

.fieldWrp {}
.fieldWrp + .fieldWrp {
  margin-top: vars.$offset-md;
}

.field {
  width: 100%;
}

.avatarWrp {
  display: flex;
}

.avatar {
  flex-shrink: 0;
  margin-right: vars.$offset-sm;
}

.upload {
  flex-grow: 1;
  min-width: 0;
}

.submit {
  margin-top: vars.$offset-lg;
}
