@use "src/styles/variables" as vars;

.dropZone {
  box-sizing: border-box;
  opacity: 0;
  pointer-events: none;
}

.dragging {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  // color: vars.$grey-400;
  font-weight: 300;
  font-size: 4rem;
  // background-color: transparentize(vars.$light-100, 0.1);
  border: 2px dashed currentColor;
  border-radius: vars.$offset-xs;
  opacity: 1;
  backdrop-filter: blur(5px);
  transition:
    color 0.15s,
    opacity 0.15s;
  pointer-events: auto;
}

.over {
  // color: vars.$grey-700;
}

