@use "src/styles/variables" as vars;

.field {
  display: inline-block;
  cursor: pointer;
  user-select: none;
}

.disabled {
  cursor: default;
}

.input {
  position: absolute;
  z-index: -1;
  opacity: 0;
  pointer-events: none;
}

.wrp {
  display: flex;
  align-items: flex-start;
  width: 100%;
}
.disabled .wrp {
  pointer-events: none;
}

.icon {
  position: relative;
  display: block;
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  margin-right: vars.$offset-xs;
  pointer-events: none;
  fill: currentColor;
}

.label {
  display: block;
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}
