@use "sass:color";
@use "src/styles/variables" as vars;

.header {
  position: sticky;
  top: 0;
  z-index: 1;
  flex-shrink: 0;
}

.wrp {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  padding: vars.$offset-xs vars.$offset-sm;
  background-color: color.adjust(dimgray, $alpha: -0.05);
}

.action {
  flex-shrink: 0;
}

.actionHidden {
  opacity: 0;
}

.title {
  flex-grow: 1;
  min-width: 0;
  margin: 0 vars.$offset-sm;
  font-weight: 700;
  text-align: center;
}

@supports (backdrop-filter: blur(5px)) {
  .wrp {
    background-color: color.adjust(dimgray, $alpha: -0.35);
    backdrop-filter: blur(5px);
  }
}
